.jumbotron{
    clear: both;
    margin-top: 30;
    padding-top: 120;
    padding-bottom: 120;
    text-align: center;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
   
}
